#map {
  height: 700px;
}

.info {
    padding: 6px 8px;
    font: 40px/30px Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popup {
  font: 17px/30px Arial, Helvetica, sans-serif;
}

.popup img {
  width: 360px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.popup span {
  font: 25px/30px Arial, Helvetica, sans-serif;
  font-weight: bold;
}
